.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: #fff;
        color: #111;
        border: 2px solid #111;
    }

    &.google-signin-btn {
        background-color: #4285F4;

        &:hover {
            background-color: #2c78f3;
            color: #fff;
            border: none;
        }
    }
    &.inverted {
        background-color: #fff;
        color: #111;
        border: 2px solid #111;

        &:hover {
            background-color: black;
            color: white;
            border: none;
        }
    }
}